* {
  margin: 0px;
  padding: 0px;
  font-family: "IBM Plex Serif", serif;
  color: #EDF1D6;
}

main {
  background-color: #609966;
  height: 100vh;
  padding-top: 100px;
}

header {
  background-color: #3d413b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #EDF1D6;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

#logo {
  font-size: 3rem;
}

#TheCartGreyBox {
  background-color: #3d413b7e;
  height: auto;
  width: 50%;
  margin: auto;
  position: relative;
  top: 15%;
  border-radius: 10px;
}

#CartSection {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 20px 20px 5px 20px;
}

#CartItemsList {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 5px 20px;
}

#name-div>p {
  margin-top: 10px;
  width: 100%;
}

#qty-div>p {
  margin-top: 10px;
}

#price-div>p {
  margin-top: 10px;
}

#cart {
  display: flex;
  flex-direction: column;
}

.btnContainer {
  padding: 10px;
}

#cartSubmit {
  width: 100%;
  margin: auto;
  background-color: #EDF1D6;
  color: #3d413b;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

#CartPrice {
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 100px;
  font-size: 0.8rem;
}

/* cart styles */
/* .newDiv{
 height: 50px;
 width: 50px;
 border: 1px solid white;
} */




.payment-box {
  background-color: #3d413b7e;
  height: auto;
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  position: relative;
  top: 15%;
  border-radius: 10px;
}

#TheCartGreyBox {
  background-color: #3d413b7e;
  height: auto;
  width: 50%;
  margin: auto;
  position: relative;
  top: 15%;
  border-radius: 10px;
}

.choose-payment {
  width: 100%;
}

.choose-payment p {
  text-align: center;
  font-style: italic;
}

#icons-container {
  display: flex;
  justify-content: center;
}

.payment-button {
  margin: 10px;
  border: 2px solid;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

#cash-button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

#card-button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.payment-button i {
  margin: 10px;
  font-size: 3rem;
}

#card-section {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}



input,
select {
  background-color: #EDF1D6;
  color: #3d413b;
  font-weight: 600;
  border: 1px solid #EDF1D6;
  border-radius: 3px;
}

::placeholder {
  color: #3d413b;
}

option {
  color: #3d413b;
}

#ccv {
  width: 48px;
}

.input-field {
  margin: 10px;
}

#card-pay-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#card-submit {
  margin: 10px;
  width: 100%;
  background-color: #EDF1D6;
  color: #3d413b;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

#cashToggle {
  margin: auto;
  padding: 10px;
}

#cash-section {
  height: auto;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

#cash-pay-container {
  width: 100%;
}

#cash-submit {
  margin-top: 10px;
  width: 100%;
  background-color: #EDF1D6;
  color: #3d413b;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.hidden {
  display: none;
}

#receipt-box {
  background-color: #3d413b7e;
  height: auto;
  width: 50%;
  margin: 50px auto;
  position: relative;
  top: 15%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

#receipt-display-card {
 padding: 20px;
}

.thank-you {
  text-align: center;
}

.thank-you-text {
  font-size: 1.6rem;
} 
.order-confirmed-text {
  padding: 5px;
  font-size: 1.2rem;
}

#order-list-card > p {
  font-size: 1.2rem;
margin-top: 10px;
margin-bottom: 10px;
}

#order-total-card {
  border-top: 1px solid;
  text-align: right;
}


#receipt-display-cash {
  padding: 20px;
 }
 
 .thank-you {
   text-align: center;
 }
 
 .thank-you-text {
   font-size: 1.6rem;
 } 
 
 #order-list-cash > p {
   font-size: 1.2rem;
 margin-top: 10px;
 margin-bottom: 10px;
 }
 
 .order-total-cash {
   border-top: 1px solid;
   text-align: right;
 }

 .receipt-logo {
  text-align: center;
  padding-top: 10px;
  font-size: 3rem;
 }

 @media only screen and (max-width: 768px) {
  p {
    font-size: 0.7rem;
  }

  .thank-you-text {
    font-size: 1rem;
  }

  .order-confirmed-text {
    font-size: 0.8rem;
  }

  #order-number-card {
    font-size: 0.8rem
  }
  
  #order-list-card p {
    font-size: 0.8rem
  }

  #order-number-cash {
    font-size: 0.8rem
  }

  #order-list-cash p {
    font-size: 0.8rem
  }

 }