* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#logo {
    font-size: 3rem;
}

ul {
  display: flex;
  flex-direction: row;
}
li {
  margin: 10px;
  list-style: none;
  font-size: .8rem;
  cursor: pointer;

}

button {
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}


main {
    background: url('./Assets/judah-guttmann-t69fIZXxrwQ-unsplash.jpg') no-repeat center center fixed;
    height: auto;
}

#menuItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imageContainer {
    height: 150px;
    width: 150px;
    margin: 10px;
    background-color: green;
}
