* {
    margin: 0px;
    padding: 0px;
    font-family: "IBM Plex Serif", serif;
    color: #EDF1D6;
  }

  body {
    background-color: #609966;
  }
  
  header {
    background-color: #3d413b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #EDF1D6;
    position: fixed;
    width: 100vw;
    z-index: 1000;
  }
  
  #logo {
    font-size: 3rem;
  }

  main {
    background-color: #609966;
    height: 100vh;
    padding-top: 100px;
  }

  #TheCartGreyBox {
    background-color: #3d413b7e;
    height: auto;
    width: 50%;
    margin: auto;
    position: relative;
    top: 15%;
    border-radius: 10px;
  }

  #CartSection {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 20px 20px 5px 20px;
  }


  #CartItemsList {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 5px 20px;
  }

#cart {
  display: flex;
  flex-direction: column;
}

#cartSubmit {
  margin: auto;
  align-self: flex-end;
  margin: 20px;
  background-color: #EDF1D6;
  color: #3d413b;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

#CartPrice {
   align-self: flex-end;
   margin-right: 20px;
   margin-top: 100px;
}

/* cart styles */
.newDiv{
  height: 50px;
  width: 50px;
  border: 1px solid white;
}

.btnContainer {
  text-align: right;
}

.payment-box {
  background-color: #3d413b7e;
    height: auto;
    width: 50%;
    margin: 50px auto;
    position: relative;
    top: 15%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#icons-container {
  display: flex;
  justify-content: center;
}

.payment-button {
  margin: 10px;
  border: 2px solid;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

#cash-button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

#card-button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.payment-button i {
  margin: 10px;
  font-size: 3rem;
}

#card-section {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}



input, select {
  background-color: #EDF1D6;
  color: #3d413b;
  font-weight: 600;
  border: 1px solid #EDF1D6;
  border-radius: 3px;
}

::placeholder {
  color: #3d413b;
}

option {
  color: #3d413b;
}

#ccv {
  width: 48px;
}

.input-field {
  margin: 10px;
}