* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #3d413b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #EDF1D6;
}

#logo {
  font-size: 3rem;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  margin: 10px;
  list-style: none;
  font-size: 1.15rem;
  cursor: pointer;
  font-family: "IBM Plex Serif", serif;
}

button {
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  color: #EDF1D6;
}



main {
  background-color: #609966;
  height: auto;
}

#menuItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.imageContainer {
  height: 200px;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}

.product-image {
  width: 100%;
  border-radius: 10px;
}